@font-face {
  font-family: 'Proxima Nova';
  src: url('https://use.typekit.net/af/cebe0e/00000000000000003b9b3060/27/d?primer=0c3631e75e900eb7ab7d66a2fee20946f78a393e6c6ee4fad09de3617cc4709d&fvd=n3&v=3') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://use.typekit.net/af/705e94/00000000000000003b9b3062/27/d?primer=0c3631e75e900eb7ab7d66a2fee20946f78a393e6c6ee4fad09de3617cc4709d&fvd=n4&v=3') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://use.typekit.net/af/576d53/00000000000000003b9b3066/27/d?primer=0c3631e75e900eb7ab7d66a2fee20946f78a393e6c6ee4fad09de3617cc4709d&fvd=n6&v=3') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://use.typekit.net/af/949f99/00000000000000003b9b3068/27/d?primer=0c3631e75e900eb7ab7d66a2fee20946f78a393e6c6ee4fad09de3617cc4709d&fvd=n7&v=3') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('https://use.typekit.net/af/d82519/00000000000000003b9b306a/27/d?primer=0c3631e75e900eb7ab7d66a2fee20946f78a393e6c6ee4fad09de3617cc4709d&fvd=n8&v=3') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}